### Hello Developer! This is an example of a .env file for your project. 

# 1. Postgres Configuration
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# 2. PgAdmin Configuration
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# 3. Connection String for dotnet application
CONNECTION_STRING=